[submodule "cmake-modules-sonar"]
	path = cmake-modules-sonar
	url = https://github.com/timothyolt/cmake-modules-sonar.git
[submodule "xmlParser_tests/lib/googletest"]
	path = xmlParser_tests/lib/googletest
	url = https://github.com/google/googletest.git
